@import './base.css';
/* ./src/index.css */

#app {
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;
}

/* styling toasts */
body .mosha__toast {
  padding: 0.5em 20px;
}

.mosha__toast .mosha__toast__close-icon {
  padding-top: 0.5em;
}

.mosha__toast .mosha__toast__content__text {
  font-size: 0.9em;
}

.mosha__toast .mosha__toast__close-icon:hover::before {
  color: white;
}